@import "tailwindcss";

.container{
    @apply max-w-[1230px] mx-auto
}
@theme{
    --font-poppins:"Poppins", sans-serif;
}

.Menu ul li a{
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: medium;
}